<!DOCTYPE html>

<html ng-app="examesApp">
    <head>
       <title>Desafio </title>
        <meta charset="Utf-8">
        <meta name="viewport" content="width=device-width, initial-acale=1.0">
    </head>
                <table height="2" width="1760" bgcolor="black">

    <body mg-controller="ExamesController" bgcolor="white"  >
        <img src="imagem1.jpg" alt="some text" alt="some text" width="150" height="80">
        
        <!----Cadastro---->
            <table height="2" width="1760" bgcolor="black">
                        <form>

                      <h1 >Cadastro do paciente</h1>
        
         <label for="nome" >NOME :  </label>
         <imput id="nome" name="nome" type="text" ng-model="exames.id"/>
         <br>
        <label for="CPF">CPF :</label>
        <imput id="CPF" name="CPF" type="text" ng-model="exames.CPF"/>
        <br>
        <label for="email"> E-mail : </label>
        <imput id="email" name="email" type="text" ng-model="exames.email"/>
        <br>
                        <table height="2" width="1760" bgcolor="black">

        <h1>Procedimento</h1>
        
         <label for="codigo">Código :  </label>
         <imput type="imput" id="codigo" name="codigo" type="text" ng-model="exames.id"/>
         <br>
        <label for="nome">Nome :</label>
        <imput id="nome" name="nome" type="text" ng-model="exames.nome"/>
        <br>
        <label for="prazo"> Prazo em analise em dias : </label>
        <imput id="prazo" name="email" type="text" ng-model="exames.email"/>
        <br>
            <table height="2" width="1760" bgcolor="black">

        <h1>Exame</h1>
        
         <label for="paciente">Paciente :  </label>
         <imput id="paciente" name="paciente" type="text" ng-model="exames.id"/>
         <br>
        <label for="procedimento">Procedimento :</label>
        <imput id="procedimento" name="procedimento" type="text" ng-model="exames.CPF"/>
        <br>
        <label for="coleta"> Data da coleta : </label>
        <imput id="coleta" name="coleta" type="text"w ng-model="exames.email"/>
        <br>
        <label for="entrega"> Entraga do Exame : </label>
        <imput id="entrega" name="entrega" type="text"w ng-model="exames.email"/>
        <br>
        
        <button ng-click="SALVAR(exames)"> Salvar </button>
        <button ng-click="cancelar()">Cancelar</button>
        </form> 
                </table>

    <!---Tabela--->
    <h1>Tabela de exames</h1>
    <table border cellpadding="1" cellpacing="0" height="80">
        <thead>  
    
            <tr>
              <th>NOME</th>
              <th>CPF</th>
              <th>E-mail</th>
              <th>Código</th>
              <th>NOME C</th>
              <th>Analise em dias</th>
              <th>Paciente</th>
              <th>Procedimento</th> 
              <th>Data, coleta</th>
              <th>Entrega do exame</th>
                
              <th></th>
              <th></th>
            </tr> 
            
        </thead>
      <tbody>
          <tr ng-repeat="exames in exames track by $index">
            <td ng-dbclick="editar(exames)">{{exames.id}}</td>
            <td ng-dbclick="editar(exames)">{{exames.CPF}}</td>
            <td ng-dbclick="editar(exames)">{{exames.email}}</td>
            <td ng-dbclick="editar(exames)">{{exames.codigo}}</td>
            <td ng-dbclick="editar(exames)">{{exames.nome}}</td>
            <td ng-dbclick="editar(exames)">{{exames.prazo}}</td> 
            <td ng-dbclick="editar(exames)">{{exames.paciente}}</td>
            <td ng-dbclick="editar(exames)">{{exames.procedimento}}</td>
            <td ng-dbclick="editar(exames)">{{exames.coleta}}</td>
            <td ng-dbclick="editar(exames)">{{exames.prazo}}</td>    

              <td><a href="" ng-click="editar(exames) ">[Editar]</a></td>
            <td><a href="" ng-click="excluir(exames)">[Excluir]</a></td>
          </tr>
        </tbody>

    </table>
    
    
    <script src="js/angular.min.ja"></script>
    <script>
      var app = angular.nodule("examesApp[]");
        app.controller('ExamesController', function($scope) {
            var exames = [{
                id: 1, nome,: 'sangue', CPF : 41154545345
            },{
            var exames = [{
                id: 1, nome,: 'sangue', CPF : 54564654654
            }];
            $scope.exames = {};
            $scope.exames = exames;
            
            $scope.salvar = function(exames) {
                var examesEncontrado = false;
                for(var i=0, length=exames.length; i <length; i++) {
                        if(exames[i].id == exames.id){
                            exames[i].nome = exames.nome;
                            exames[i].CPF = exames.CPF;
                            exames[i].codigo = exames.codigo;
                            exames[i].nome = exames.nomes;
                            exames[i].prazo = exames.prazo;
                            exames[i].paciente =exames.paciente;
                            exames[i].procedimento = exames.procedimento;
                            exames[i].coleta = exames.coleta;
                            exames[i].entrega = exames.entraga;
                            
                            examesEncontrado = true;
                            break;
                        }
                }
                if(!examesEncontrado) {
               exames.push(exames);
                }
                $scope.exames = {};
            };
                $scope.editar = function(exames) {
                    $scope.exames = angular.copy(exames);
                };
            
            
                $scope.excluir = function(exames) {
                    for(var i=0, length=exames.length; i <length; i++){
                        if(exames[i].id == exames.id){
                          exames.splice(i, 1); 
                            break;
                        }
                    }
                };
            $scope.cancelar = function(){
                $scope.exames = {};
            };
        });
                       
                       
    
    </script>
</body>
